<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="myTab" style="position:relative">
    <li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
    <li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab">Users</a>
    </li>
    <li class="toggleText" style="position:absolute;right:20px;">Change Theme: <input class="toggle text-center"
            type="checkbox" (click)="change()" /></li>
</ul>


<div class="tab-content">
    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <!-- -----------------------------------------  -->
    <!-- -----USERS SECTION OF ADMIN PAGE-----  -->
    <!-- -----------------------------------------  -->
    <!-- ------------------------------------------------------------------------------------------------------------ -->

    <div role="tabpanel" class="tab-pane" id="users">
        <div class="test3 col-sm-12">
            <h2 class=" headers text-center">USERS</h2>
            <div>

                <!-- USER TOTAL STATS TABLE -->
                <table class="statsTable table-striped table-hover col-sm-12">
                    <thead class="text-center">
                        <tr class="">
                            <th>Active Users</th>
                            <th>Removed Users</th>
                            <th>Total Users</th>
                        </tr>
                    </thead>
                    <tbody class="statsBody text-center">
                        <ng-container ng-repeat="u in users">
                            <tr class="">
                                <td class="font-weight-bold">{{activeUsers}}</td>
                                <td class="font-weight-bold">{{removedUsers}}</td>
                                <td class="font-weight-bold">{{users.length}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <br>
            </div>

            <div class="d-flex justify-content-center searchRow text-center font-weight-bold"
                [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">
                <div class="p-2">Search By User Name: <input type="text" [(ngModel)]="searchText2"> </div>
            </div>

            <!-- TABLE TO DISPLAY ALL COMMENTS -->
            <div class="collapse show font-weight-bold" id="collapseExample3">
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>User ID</th>
                                <th>Profile ID</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor='let u of users | filterUsers : searchText2; let i =index'>
                                <tr *ngIf="u.active == 1" class="dataFont"
                                    [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}" (click)='rowSelected(i)'
                                    [class.active]='i==selectedRow'>
                                    <td>{{u.userId}}</td>
                                    <td>{{u.profileId}}</td>
                                    <td>{{u.userName}}</td>
                                    <td>{{u.email}}</td>
                                    <td>{{u.fname}}</td>
                                    <td>{{u.lname}}</td>
                                    <td *ngIf="u.userType==2 ; else elseBlock">Admin</td>
                                    <ng-template #elseBlock>
                                        <td>User</td>
                                    </ng-template>
                                    <td><button class='btn-outline-dark' id="remove"
                                            (click)="deleteUser(u.userId)">DELETE
                                            USER</button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <!-- -----------------------------------------  -->
    <!-- -----POSTS SECTION OF ADMIN PAGE-----  -->
    <!-- -----------------------------------------  -->
    <!-- ------------------------------------------------------------------------------------------------------------ -->

    <div role="tabpanel" class="tab-pane active" id="posts">
        <div class="test col-sm-12">
            <h2 class=" headers text-center">POSTS</h2>

            <!-- POST TOTAL STATS TABLE -->
            <table class="statsTable table-striped table-hover col-sm-12">
                <thead class="text-center">
                    <tr>
                        <th>Active Posts</th>
                        <th>Removed Posts</th>
                        <th>Total Posts</th>
                    </tr>
                </thead>
                <tbody class="statsBody text-center">

                    <ng-container ng-repeat="p in posts">
                        <tr class="">
                            <td class="font-weight-bold">{{activePosts}}</td>
                            <td class="font-weight-bold">{{removedPosts}}</td>
                            <td class="font-weight-bold">{{posts.length}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!-- POST TIME STATS TABLE -->
            <table class="statsTable table-striped table-hover col-sm-12">
                <thead class="text-center">
                    <tr>
                        <th>Posts Today</th>
                        <th>Posts This Week</th>
                        <th>Total This Month</th>
                    </tr>
                </thead>
                <tbody class="statsBody text-center">

                    <ng-container ng-repeat="p in posts">
                        <tr class="">
                            <td class="font-weight-bold">{{postsToday}}</td>
                            <td class="font-weight-bold">{{postsThisWeek}}</td>
                            <td class="font-weight-bold">{{postsThisMonth}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <br>

            <!-- TABLE TO DISPLAY REPORTED POSTS -->
            <div class="collapse show col-sm-3 text-center font-weight-bold" id="collapseExample"
                style="float:left; padding-top:10px">
                <h3>Reported Posts</h3>
                <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">Find Post By ID : <input
                        type="number" [(ngModel)]="searchPid"> </div>
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>Post ID</th>
                                <th>Times Flagged</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor='let fp of flaggedPosts; let i =index'>
                                <tr class="dataFont" [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}">
                                    <td>{{fp.postId}}</td>
                                    <td>{{fp.flagPost}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- TABLE TO DISPLAY ALL POSTS -->
            <div class="collapse show col-sm-9 text-center font-weight-bold" id="collapseExample"
                style="float:right; padding-top:10px">
                <h3>All Posts</h3>
                <div class="filler" [ngClass]="{'filler': toggle, 'filler2': !toggle}">
                    <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}" style="float:left">Search
                        By
                        Post Header: <input type="text" [(ngModel)]="searchText3"></div>
                    <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}" style="float:right">Search
                        By
                        Post Content: <input type="text" [(ngModel)]="searchPcontent"></div>
                    <div class="well">

                        <table class="table table-striped table-hover"
                            [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                            <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                                <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                    <th>User Name</th>
                                    <th>Post ID</th>
                                    <th>Post Header</th>
                                    <th>Post Content</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <ng-container
                                    *ngFor='let p of posts | filterHeaders : searchText3 | filterPostContent : searchPcontent | filterPostUser : searchText4 | filterPostID : searchPid; let i =index'>
                                    <tr *ngIf="p.active == 1" class="dataFont"
                                        [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}">
                                        <td>{{p.userName}}</td>
                                        <td>{{p.postId}}</td>
                                        <td>{{p.postHeader}}</td>
                                        <td>{{p.postContent}}</td>
                                        <td>{{p.postDate}}</td>
                                        <td>

                                            <div class="dropdown">
                                                <button type="button" class="btn-outline-dark dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    Actions...
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="release"
                                                            ng-click="releasePost(p.postId)"
                                                            (click)="releasePost(p.postId)">ALLOW
                                                        </button></a>
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="edit"
                                                            [routerLink]="['/editPost', p.postId]">EDIT
                                                        </button></a>
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="remove"
                                                            (click)="deletePost(p.postId)"
                                                            (click)="releasePost(p.postId)">DELETE
                                                        </button></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------ -->
    <!-- -----------------------------------------  -->
    <!-- -----COMMENTS SECTION OF ADMIN PAGE-----  -->
    <!-- -----------------------------------------  -->
    <!-- ------------------------------------------------------------------------------------------------------------ -->

    <div role="tabpanel" class="tab-pane" id="comments">
        <div class="test2 col-sm-12">
            <h2 class="headers text-center">COMMENTS</h2>


            <!--  COMMENTS TOTAL STATS TABLE -->
            <table class="statsTable table-striped table-hover col-sm-12">
                <thead class="text-center">
                    <tr class="">
                        <th>Active Comments</th>
                        <th>Removed Comments</th>
                        <th>Total Comments</th>
                    </tr>
                </thead>
                <tbody class="statsBody text-center">
                    <ng-container ng-repeat="c in comments">
                        <tr class="">
                            <td class="font-weight-bold">{{activeComments}}</td>
                            <td class="font-weight-bold">{{removedComments}}</td>
                            <td class="font-weight-bold">{{comments.length}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <!--  COMMENTS TIME STATS TABLE -->
            <table class="statsTable table-striped table-hover col-sm-12">
                <thead class="text-center">
                    <tr>
                        <th>Comments Today</th>
                        <th>Comments This Week</th>
                        <th>Comments This Month</th>
                    </tr>
                </thead>
                <tbody class="statsBody text-center">

                    <ng-container ng-repeat="c in comments">
                        <tr class="">
                            <td class="font-weight-bold">{{commentsToday}}</td>
                            <td class="font-weight-bold">{{commentsThisWeek}}</td>
                            <td class="font-weight-bold">{{commentsThisMonth}}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <br>
            <!-- TABLE TO DISPLAY REPORTED COMMENTS -->
            <div class="collapse show col-sm-3 text-center font-weight-bold" id="collapseExample"
                style="float:left; padding-top:10px">
                <h3>Reported Comments</h3>
                <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">Find By ID : <input
                        type="number" [(ngModel)]="searchCid"> </div>
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>Comment ID</th>
                                <th>Times Flagged</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ng-container *ngFor='let fc of flaggedComments; let i =index'>
                                <tr class="dataFont" [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}">
                                    <td>{{fc.commentId}}</td>
                                    <td>{{fc.flagComment}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- TABLE TO DISPLAY ALL COMMENTS -->
            <div class="collapse show col-sm-9 text-center font-weight-bold" id="collapseExample"
                style="float:right; padding-top:10px">
                <h3>All Comments</h3>
                <div class="filler" [ngClass]="{'filler': toggle, 'filler2': !toggle}">
                    <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}" style="float:left">Search
                        By Creator:
                        <input type="text" [(ngModel)]="searchText2"></div>
                    <div class="p-2" [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}" style="float:right">Search
                        By Content:
                        <input type="text" [(ngModel)]="searchText"></div>
                    <div class="well">
                        <table class="table table-striped table-hover"
                            [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                            <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                                <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                    <th>Comment Date</th>
                                    <th>Comment ID</th>
                                    <th>User Name</th>
                                    <th>Content</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor='let c of comments | filterComments : searchText | filterUsers : searchText2 | filterCommentID : searchCid; let i =index'>
                                    <tr *ngIf="c.active == 1" class="dataFont"
                                        [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}" (click)='rowSelected(i)'
                                        [class.active]='i==selectedRow'>
                                        <td>{{c.commentDate}}</td>
                                        <td>{{c.commentID}}</td>
                                        <td>{{c.userName}}</td>
                                        <td>{{c.content}}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn-outline-dark btn-sm dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    Actions...
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="release"
                                                            ng-click="releaseComment(c.commentID)"
                                                            (click)="releaseComment(c.commentID)">ALLOW
                                                        </button></a>
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="edit"
                                                            [routerLink]="['/editComment', c.commentID]">EDIT
                                                        </button></a>
                                                    <a class="dropdown-item"><button
                                                            class='btn-outline-dark btn-sm btn-block' id="remove"
                                                            (click)="deleteComment(c.commentID)"
                                                            (click)="releaseComment(c.commentID)">DELETE
                                                        </button></a>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>