<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="myTab" style="position:relative">
    <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a>
    </li>
    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments</a></li>
    <li role="presentation"><a href="#users" aria-controls="messages" role="tab" data-toggle="tab">Users</a></li>
    <li class="toggleText" style="position:absolute;right:20px;">Change Theme: <input class="toggle text-center"
            type="checkbox" (click)="change()" /></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="posts">

        <!-- -----POSTS SECTION OF ADMIN PAGE-----  -->
        <div class="test col-sm-12">
            <h2 class=" headers text-center">POSTS</h2>
            <div class="d-flex searchRow text-center font-weight-bold"
                [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">
                <div class="p-2">Search By Post User : <input type="text" [(ngModel)]="searchText4"> </div>
                <div class="p-2">Search By Post Header: <input type="text" [(ngModel)]="searchText3"></div>
                <h4 class="p-2 countHeaders text-center" [ngClass]="{'countHeaders': toggle, 'countHeaders2': !toggle}">
                    Active : {{ posts.length }}</h4>
            </div>

            <br>
            <!-- COLLAPSE TABLE BUTTON -->
            <button class="btn col-sm-12 collapseBtn" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Expand/Collapse
                Posts Table</button>

            <div class="collapse show" id="collapseExample">
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>User Name</th>
                                <th>Post Header</th>
                                <th>Post Content</th>
                                <th>Date</th>
                                <th>Media</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dataFont" [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}"
                                *ngFor='let p of posts | filterHeaders : searchText3 | filterPostUser : searchText4; let i =index'
                                (click)='rowSelected(i)' [class.active]='i==selectedRow'>
                                <td>{{p.userName}}</td>
                                <td>{{p.postHeader}}</td>
                                <td>{{p.postContent}}</td>
                                <td>{{p.postDate}}</td>
                                <td>{{p.media}}</td>
                                <td><button class='btn-outline-dark' id="remove" (click)="deletePost(p.postId)">DELETE
                                        POST</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div role="tabpanel" class="tab-pane" id="comments">
        <!-- -----COMMENTS SECTION OF ADMIN PAGE-----  -->
        <div class="test2 col-sm-12">
            <h2 class="headers text-center">COMMENTS</h2>
            <div class="d-flex searchRow text-center font-weight-bold"
                [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">
                <div class="p-2">Search By Comments User:<input type="text" [(ngModel)]="searchText2"></div>
                <div class="p-2">Search By Comments Content: <input type="text" [(ngModel)]="searchText"></div>
                <h4 class="p-2 countHeaders text-center" [ngClass]="{'countHeaders': toggle, 'countHeaders2': !toggle}">
                    Active : {{comments.length}} </h4>
            </div>
            <br>
            <!-- COLLAPSE TABLE BUTTON -->
            <button class="btn btn-light col-sm-12 collapseBtn" type="button" data-toggle="collapse"
                data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Expand/Collapse
                Comments Table</button>

            <div class="collapse show" id="collapseExample2">
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>User Name</th>
                                <th>Comment Date</th>
                                <th>Content</th>
                                <th>Post ID</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dataFont" [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}"
                                *ngFor='let c of comments | filterComments : searchText | filterUsers : searchText2; let i =index'
                                (click)='rowSelected(i)' [class.active]='i==selectedRow'>
                                <td>{{c.userName}}</td>
                                <td>{{c.commentDate}}</td>
                                <td>{{c.content}}</td>
                                <td>{{c.postId}}</td>
                                <td><button class='btn-outline-dark' id="remove"
                                        (click)="deleteComment(c.commentID)">DELETE
                                        COMMENT</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane active" id="users">
        <!-- -----USERS SECTION OF ADMIN PAGE-----  -->
        <div class="test3 col-sm-12">
            <h2 class=" headers text-center">USERS</h2>
            <div class="d-flex justify-content-center searchRow text-center font-weight-bold"
                [ngClass]="{'searchRow': toggle, 'searchRow2': !toggle}">
                <div class="p-2">Search By User Name: <input type="text" [(ngModel)]="searchText2"> </div>
                <h4 class="p-2 countHeaders text-center" [ngClass]="{'countHeaders': toggle, 'countHeaders2': !toggle}">
                    Active : {{ users.length }}</h4>
            </div>

            <br>
            <!-- COLLAPSE TABLE BUTTON -->
            <button class="btn col-sm-12 collapseBtn" type="button" data-toggle="collapse"
                data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Expand/Collapse
                Users Table</button>

            <div class="collapse show" id="collapseExample3">
                <div class="well">
                    <table class="table table-striped table-hover"
                        [ngClass]="{'tablePosts': toggle, 'tablePosts2': !toggle}">
                        <thead class="theadPosts" [ngClass]="{'theadPosts': toggle, 'theadPosts2': !toggle}">
                            <tr class="theadFont" [ngClass]="{'theadFont': toggle, 'theadFont2': !toggle}">
                                <th>User ID</th>
                                <th>Profile ID</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dataFont" [ngClass]="{'dataFont': toggle, 'dataFont2': !toggle}"
                                *ngFor='let u of users | filterUsers : searchText2; let i =index'
                                (click)='rowSelected(i)' [class.active]='i==selectedRow'>
                                <td>{{u.userId}}</td>
                                <td>{{u.profileId}}</td>
                                <td>{{u.userName}}</td>
                                <td>{{u.email}}</td>
                                <td>{{u.fname}}</td>
                                <td>{{u.lname}}</td>
                                <td *ngIf="u.userType==2 ; else elseBlock">Admin</td>
                                <ng-template #elseBlock>
                                    <td>User</td>
                                </ng-template>
                                <td><button class='btn-outline-dark' id="remove" (click)="deleteUser(u.userId)">DELETE
                                        USER</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>