<div class="container-fluid">
  <h1>Welcome {{currentUser.userName}} </h1>
  <div class="row">

    <div class="col-sm-2 border-right border-top border-bottom">
      <div class=" card">
        <img src="assets/img/luffy.png" alt="John" style="width:100%">
        <h1>{{currentUser.userName}}</h1>
        <p class="title">{{currentUser.fname}} {{currentUser.lname}}</p>
        <p>{{currentUser.dob}}</p>
        <p>{{currentUser.address}}</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </div>
        <p><button routerLink="/editProfile">Edit Profile</button></p>

        <div class="btn-group" mdbDropdown>
          <button mdbDropdownToggle type="button" mdbBtn color="primary" class="dropdown-toggle waves-light"
            mdbWavesEffect>
            Basic dropdown
          </button>
        
          <div class="dropdown-menu dropdown-primary">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div>




      </div>
    </div>


    <div class="col-sm-8 border-right border-left border-top border-bottom">
      <h3>{{currentUser.userName}}'s Posts:</h3>
      <div *ngIf="!(( noOfPosts )) || (( noOfPosts )) == 0">
        <h2 style="text-align: center">No Posts!(Yet..)</h2>
      </div>
      <div *ngIf="(( noOfPosts )) > 0">
        <div *ngFor="let post of posts">
          <app-post *ngIf="post.active=='1'"[post]="post"></app-post>
        </div>
        <!-- <app-post *ngFor="let post of posts" [post]="post"></app-post> -->
        
      </div>
    </div>


    <div class="col-sm-2 border-left border-top border-bottom">
      <app-post-form></app-post-form>
    </div>
  </div>