.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 2px;
  background-color: rgb(127, 164, 194);
  padding: 2px;
}

.grid-container > div {
  background-color: rgb(233,236,239);
  text-align: center;
  padding: 2px 0;
  font-size: 30px;
}