* {
  box-sizing: border-box;
}

.header {
  border: 5px rgb(7, 10, 14);
  padding: 15px;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 5px rgb(9, 12, 15);
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 5px rgb(13, 15, 17);
}