<div class="media w-50 p-3 my-1 border media rounded mx-auto">
    <img class="d-flex mr-3" src="assets/img/generic-user.png" width="64" height="64" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">{{ comment.userName }}</h5>
        <small>{{ comment.commentDate }}</small>
        <p>{{ comment.content }}</p>
    </div>
    <div *ngIf="userId !== -1">
        <div *ngIf="userId == (comment.userId)">
            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary"><a class="nav-link" [routerLink]="['/editComment', comment.commentID]" style="color:white">Edit</a></button>
                <button type="button" class="btn btn-danger" (click)="deleteComment(comment.commentID)">Delete</button>
            </div>
        </div>
    </div>
</div>